/* reset */
/* animation */
/* button */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, input,
textarea, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  cursor: pointer; }
  a img {
    border: 0; }

textarea {
  resize: none; }

footer, header, aside, nav, menu, video, audio, time, progress, section, article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  display: block; }

aside {
  text-align: right; }

input[type="file"] {
  opacity: 0;
  -moz-opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
  cursor: pointer; }

/* colors */
/* shadows */
@font-face {
  font-family: "Driftwood";
  font-style: normal;
  src: local("Driftwood"), url("../fonts/Driftwood.eot") format("oet"), local("Driftwood"), url("../fonts/Driftwood.woff") format("woff"), local("Driftwood"), url("../fonts/Driftwood.ttf") format("truetype"), url("../fonts/Driftwood.svg") format("svg"); }
@font-face {
  font-family: "Planer";
  font-style: normal;
  src: local("Planer"), url("../fonts/Planer.eot") format("oet"), local("Planer"), url("../fonts/Planer.woff") format("woff"), local("Planer"), url("../fonts/Planer.ttf") format("truetype"), url("../fonts/Planer.svg") format("svg"); }
/* master */
html {
  position: relative;
  min-width: 1000px;
  height: 100%;
  min-height: 100%; }

html, html a {
  color: #fff;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }

html * {
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 20px;
  font-family: "Driftwood", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  line-height: 26px;
  height: 100%;
  min-height: 100%; }

#container {
  height: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -moz-perspective-origin: center 15%;
  -webkit-perspective-origin: center 15%;
  -o-perspective-origin: center 15%;
  -ms-perspective-origin: center 15%;
  perspective-origin: center 15%; }
  #container > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    #container > .content > .top {
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%;
      height: 100px;
      background: url("../images/backgrounds/main.jpg") center top;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      top: 0;
      -webkit-transform: rotateX(-90deg);
      -moz-transform: rotateX(-90deg);
      -o-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -moz-transform-origin: center top;
      -webkit-transform-origin: center top;
      -o-transform-origin: center top;
      -ms-transform-origin: center top;
      transform-origin: center top; }
    #container > .content > .left, #container > .content > .right {
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%; }
      #container > .content > .left:before, #container > .content > .right:before {
        content: "";
        position: absolute;
        width: 5100%;
        left: -2500%;
        top: 2500px;
        height: 100px;
        background: url("../images/backgrounds/main.jpg") center top;
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
    #container > .content > .left {
      left: 0;
      -webkit-transform: rotateY(90deg);
      -moz-transform: rotateY(90deg);
      -o-transform: rotateY(90deg);
      -ms-transform: rotateY(90deg);
      transform: rotateY(90deg);
      -moz-transform-origin: left center;
      -webkit-transform-origin: left center;
      -o-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center; }
    #container > .content > .middle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../images/backgrounds/main.jpg") center top;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
      transform: translateZ(-100px);
      -moz-transform: translateZ(-100px);
      -o-transform: translateZ(-100px);
      -ms-transform: translateZ(-100px);
      -webkit-transform: translateZ(-100px); }
      #container > .content > .middle:before, #container > .content > .middle:after {
        content: "";
        position: absolute;
        z-index: 10;
        height: 15px;
        width: 100%;
        left: 0;
        transform: translateZ(1px);
        -moz-transform: translateZ(1px);
        -o-transform: translateZ(1px);
        -ms-transform: translateZ(1px);
        -webkit-transform: translateZ(1px); }
      #container > .content > .middle:before {
        top: 100px;
        box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.25); }
      #container > .content > .middle:after {
        top: 100%;
        margin-top: -65px;
        box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.25); }
      #container > .content > .middle > h1 {
        position: relative;
        z-index: 10;
        line-height: 80px;
        text-align: center;
        height: 100px;
        font-size: 80px; }
      #container > .content > .middle .content {
        overflow: auto;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100px;
        bottom: 50px;
        transform: translateZ(1px);
        -moz-transform: translateZ(1px);
        -o-transform: translateZ(1px);
        -ms-transform: translateZ(1px);
        -webkit-transform: translateZ(1px); }
        #container > .content > .middle .content > * {
          zoom: 1;
          display: inline;
          display: -moz-inline-box;
          display: inline-block;
          *display: inline;
          vertical-align: top; }
        #container > .content > .middle .content > div > .text {
          width: 940px;
          position: relative;
          margin: 20px auto;
          padding: 30px;
          background: #fff;
          font-family: "Planer", sans-serif;
          color: #000;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
          -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.25);
          -moz-border-radius: 2px;
          -o-border-radius: 2px;
          -ms-border-radius: 2px;
          -khtml-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px; }
          #container > .content > .middle .content > div > .text > * {
            zoom: 1;
            vertical-align: top; }
          #container > .content > .middle .content > div > .text:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5); }
        #container > .content > .middle .content #about {
          width: 100%;
          text-align: justify; }
          #container > .content > .middle .content #about > * {
            zoom: 1;
            vertical-align: top; }
          #container > .content > .middle .content #about > .text > h2 {
            line-height: 50px;
            text-align: center;
            font-size: 40px; }
            #container > .content > .middle .content #about > .text > h2 + * {
              margin-top: 20px; }
          #container > .content > .middle .content #about > .text > p.center {
            text-align: center; }
          #container > .content > .middle .content #about > .text > p + * {
            margin-top: 20px; }
        #container > .content > .middle .content #gallery {
          width: 100%;
          height: 100%; }
          #container > .content > .middle .content #gallery > .text {
            position: absolute;
            top: 0;
            bottom: 10px;
            padding: 10px;
            left: 50%;
            margin-left: -470px;
            text-align: center; }
            #container > .content > .middle .content #gallery > .text > * {
              zoom: 1;
              display: inline;
              display: -moz-inline-box;
              display: inline-block;
              *display: inline;
              vertical-align: top; }
            #container > .content > .middle .content #gallery > .text > .img {
              position: relative;
              width: 100%;
              height: 100%;
              background: no-repeat center;
              -moz-background-size: contain;
              -webkit-background-size: contain;
              -o-background-size: contain;
              background-size: contain;
              opacity: 0;
              -moz-opacity: 0;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              -ms-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out; }
              #container > .content > .middle .content #gallery > .text > .img.active {
                z-index: 1;
                opacity: 1;
                -moz-opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
              #container > .content > .middle .content #gallery > .text > .img + .img {
                margin-left: -100%; }
            #container > .content > .middle .content #gallery > .text > .left, #container > .content > .middle .content #gallery > .text > .right {
              position: absolute;
              z-index: 2;
              top: 0;
              bottom: 0;
              margin-top: -19px;
              opacity: 0;
              -moz-opacity: 0;
              -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
              -webkit-transition: all 0.25s ease-in-out;
              -moz-transition: all 0.25s ease-in-out;
              -o-transition: all 0.25s ease-in-out;
              -ms-transition: all 0.25s ease-in-out;
              transition: all 0.25s ease-in-out; }
              #container > .content > .middle .content #gallery > .text > .left:hover, #container > .content > .middle .content #gallery > .text > .right:hover {
                opacity: 1;
                -moz-opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
            #container > .content > .middle .content #gallery > .text > .left {
              left: -35px;
              right: 50%;
              background: url("../images/backgrounds/arrow_left.png") no-repeat left center; }
            #container > .content > .middle .content #gallery > .text > .right {
              left: 50%;
              right: -35px;
              background: url("../images/backgrounds/arrow_right.png") no-repeat right center; }
        #container > .content > .middle .content #contact {
          width: 100%;
          height: 100%; }
          #container > .content > .middle .content #contact > .text {
            position: absolute;
            top: 0;
            bottom: 10px;
            padding: 20px;
            left: 50%;
            margin-left: -470px; }
            #container > .content > .middle .content #contact > .text > p {
              position: absolute;
              width: 50%;
              top: 100%;
              margin-top: -40px;
              line-height: 30px;
              height: 30px; }
              #container > .content > .middle .content #contact > .text > p > a {
                position: relative;
                z-index: 1;
                color: #000;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
                text-decoration: none; }
                #container > .content > .middle .content #contact > .text > p > a:hover {
                  text-decoration: underline; }
              #container > .content > .middle .content #contact > .text > p.left {
                left: 20px;
                z-index: 1; }
              #container > .content > .middle .content #contact > .text > p.right {
                right: 20px;
                text-align: right; }
    #container > .content > .right {
      left: 100%;
      margin-left: -100px;
      -webkit-transform: rotateY(-90deg);
      -moz-transform: rotateY(-90deg);
      -o-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
      -moz-transform-origin: right center;
      -webkit-transform-origin: right center;
      -o-transform-origin: right center;
      -ms-transform-origin: right center;
      transform-origin: right center; }
  #container > nav {
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    line-height: 100px;
    text-align: center; }
    #container > nav > * {
      zoom: 1;
      display: inline;
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      vertical-align: top; }
    #container > nav:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 50%;
      background: url("../images/backgrounds/main.jpg") center top;
      box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
      transform: translateZ(-100px);
      -moz-transform: translateZ(-100px);
      -o-transform: translateZ(-100px);
      -ms-transform: translateZ(-100px);
      -webkit-transform: translateZ(-100px); }
    #container > nav > a {
      position: relative;
      width: 33.33%;
      height: 100px;
      font-size: 50px;
      vertical-align: bottom;
      opacity: 0.9;
      -moz-opacity: 0.9;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)";
      -webkit-transition: opacity 0.25s ease-out;
      -moz-transition: opacity 0.25s ease-out;
      -o-transition: opacity 0.25s ease-out;
      -ms-transition: opacity 0.25s ease-out;
      transition: opacity 0.25s ease-out; }
      #container > nav > a:hover {
        opacity: 1;
        -moz-opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
      #container > nav > a > span {
        overflow: hidden;
        zoom: 1;
        display: inline;
        display: -moz-inline-box;
        display: inline-block;
        *display: inline;
        vertical-align: bottom;
        width: 100%;
        height: 100px;
        line-height: 150px;
        position: relative;
        z-index: 10;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        transform: translateZ(-40px);
        -moz-transform: translateZ(-40px);
        -o-transform: translateZ(-40px);
        -ms-transform: translateZ(-40px);
        -webkit-transform: translateZ(-40px); }
      #container > nav > a > .step {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        height: 0;
        top: 100%;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out; }
        #container > nav > a > .step > div {
          position: absolute;
          width: 100%;
          height: 100px;
          left: 0;
          top: 0;
          -webkit-transition: all 0.25s ease-in-out;
          -moz-transition: all 0.25s ease-in-out;
          -o-transition: all 0.25s ease-in-out;
          -ms-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }
        #container > nav > a > .step > .top {
          background: url("../images/backgrounds/main.jpg") center top;
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg);
          -o-transform: rotateX(-90deg);
          -ms-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
          -moz-transform-origin: center top;
          -webkit-transform-origin: center top;
          -o-transform-origin: center top;
          -ms-transform-origin: center top;
          transform-origin: center top; }
        #container > nav > a > .step > .front {
          height: 0;
          background: url("../images/backgrounds/main.jpg") center top;
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75); }
        #container > nav > a > .step > .left {
          overflow: hidden;
          width: 100px;
          height: 0;
          transform: rotateY(90deg);
          -webkit-transform: rotateY(90deg);
          -moz-transform: rotateY(90deg);
          -o-transform: rotateY(90deg);
          -ms-transform: rotateY(90deg);
          transform: rotateY(90deg);
          -moz-transform-origin: left center;
          -webkit-transform-origin: left center;
          -o-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center; }
          #container > nav > a > .step > .left:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
            background: url("../images/backgrounds/main.jpg") center top;
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
        #container > nav > a > .step > .right {
          overflow: hidden;
          left: 100%;
          margin-left: -100px;
          width: 100px;
          height: 0;
          -webkit-transform: rotateY(-90deg);
          -moz-transform: rotateY(-90deg);
          -o-transform: rotateY(-90deg);
          -ms-transform: rotateY(-90deg);
          transform: rotateY(-90deg);
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          -o-transform-origin: right center;
          -ms-transform-origin: right center;
          transform-origin: right center; }
          #container > nav > a > .step > .right:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 100px;
            top: 0;
            left: 0;
            background: url("../images/backgrounds/main.jpg") center top;
            box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.75);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
      #container > nav > a:hover > span {
        transform: translateZ(-40px) translateY(-5px);
        -moz-transform: translateZ(-40px) translateY(-5px);
        -o-transform: translateZ(-40px) translateY(-5px);
        -ms-transform: translateZ(-40px) translateY(-5px);
        -webkit-transform: translateZ(-40px) translateY(-5px); }
      #container > nav > a:hover > .step {
        margin-top: -5px;
        height: 5px; }
        #container > nav > a:hover > .step > .front, #container > nav > a:hover > .step > .left, #container > nav > a:hover > .step > .right {
          height: 5px; }
      #container > nav > a.active {
        opacity: 1;
        -moz-opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=100)"; }
        #container > nav > a.active > span {
          transform: translateZ(-40px) translateY(-10px);
          -moz-transform: translateZ(-40px) translateY(-10px);
          -o-transform: translateZ(-40px) translateY(-10px);
          -ms-transform: translateZ(-40px) translateY(-10px);
          -webkit-transform: translateZ(-40px) translateY(-10px); }
        #container > nav > a.active > .step {
          margin-top: -10px;
          height: 10px; }
          #container > nav > a.active > .step > .front, #container > nav > a.active > .step > .left, #container > nav > a.active > .step > .right {
            height: 10px; }
