@import "application/extras"
@import "application/colors"
@import "application/fonts"

$ninesixty_gutter_width: 10px
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$free_space: 40px
$min_width: 960px

$baseline: 26px

/* master
$base: 20px

html
  :position relative
  :min-width $min_width + $free_space
  :height 100%
  :min-height 100%
  
html, html a
  +colors(#fff, 0 5px 5px rgba(0, 0, 0, 0.5))

html *
  +transform-style
  +box-sizing
  
body
  :font
    :size $base
    :family "Driftwood", sans-serif
  :-webkit-font-smoothing antialiased
  :letter-spacing 1px
  :line-height $baseline
  :height 100%
  :min-height 100%
  
#container
  :height 100%
  :min-height 100%
  +grid-container
  +perspective(1000px)
  +perspective-origin(center 15%)
  
  > .content
    :position absolute
    :top 0
    :left 0
    :right 0
    :bottom 0
    
    > .top
      :position absolute
      :z-index 1
      :left 0
      :width 100%
      :height 100px
      :background url('../images/backgrounds/main.jpg') center top
      +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
      :top 0
      +rotate-x(-90)
      +transform-origin(center top)
    
    > .left, > .right
      :overflow hidden
      :position absolute
      :top 0
      :width 100px
      :height 100%
      
      &:before
        :content ''
        :position absolute
        :width 5100%
        :left -2500%
        :top 2500px
        :height 100px
        :background url('../images/backgrounds/main.jpg') center top
        +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
        +rotate(90)
    
    > .left
      :left 0
      +rotate-y(90)
      +transform-origin(left center)
    
    > .middle
      +absoluted
      :background url('../images/backgrounds/main.jpg') center top
      +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.5))
      +translate-z(-100px)
      
      &:before, &:after
        :content ''
        :position absolute
        :z-index 10
        :height 15px
        :width 100%
        :left 0
        +translate-z(1px)
      
      &:before
        :top 100px
        +box-shadow(inset 0 10px 10px rgba(0, 0, 0, 0.25))
      
      &:after
        :top 100%
        :margin
          :top -65px
        +box-shadow(inset 0 -10px 10px rgba(0, 0, 0, 0.25))
      
      > h1
        :position relative
        :z-index 10
        :line-height 80px
        :text
          :align center
        :height 100px
        :font
          :size 80px
      
      .content
        :overflow auto
        :position absolute
        :width 100%
        :left 0
        :top 100px
        :bottom 50px
        +translate-z(1px)
        +children-inline
        
        > div > .text
          :width 940px
          :position relative
          :margin 20px auto
          :padding 30px
          :background #fff
          :font
            :family "Planer", sans-serif
          +colors(#000, 0 1px 0 rgba(0, 0, 0, 0.5))
          +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.25))
          +border-radius(2px)
          +children-list-fix
      
          &:before
            :content ''
            :position absolute
            :top 0
            :left 0
            :width 100%
            :height 100%
            +box-shadow(0 10px 5px rgba(0, 0, 0, 0.5))
        
        #about
          :width 100%
          :text
            :align justify
          +children-list-fix
        
          > .text
            > h2
              :line-height 50px
              :text
                :align center
              :font
                :size 40px
            
              & + *
                :margin
                  :top 20px
          
            > p
              &.center
                :text
                  :align center
              
              & + *
                :margin
                  :top 20px
        
        #gallery
          :width 100%
          :height 100%
          
          > .text
            :position absolute
            :top 0
            :bottom 10px
            :padding 10px
            :left 50%
            :margin
              :left -470px
            :text
              :align center
            +children-inline
            
            > .img
              :position relative
              :width 100%
              :height 100%
              :background no-repeat center
              +background-size
              +opacity(0)
              +transition(all .5s ease-in-out)
              
              &.active
                :z-index 1
                +opacity(1)
              
              & + .img
                :margin
                  :left -100%
            
            > .left, > .right
              :position absolute
              :z-index 2
              :top 0
              :bottom 0
              :margin
                :top -19px
              +opacity(0)
              +transition
              
              &:hover
                +opacity(1)
            
            > .left
              :left -35px
              :right 50%
              :background url('../images/backgrounds/arrow_left.png') no-repeat left center
            
            > .right
              :left 50%
              :right -35px
              :background url('../images/backgrounds/arrow_right.png') no-repeat right center
        
        #contact
          :width 100%
          :height 100%
          
          > .text
            :position absolute
            :top 0
            :bottom 10px
            :padding 20px
            :left 50%
            :margin
              :left -470px
            
            > footer
              :position absolute
              :width 100%
              :top 100%
              :left 0
              :margin
                :top -40px
              :line-height 30px
              :height 30px
              :text
                :align center
              +children-inline
              
              > p
                :margin
                  :left 15px
                  :right 15px
                
                > a
                  :position relative
                  :z-index 1
                  +colors(#000, 0 1px 0 rgba(0, 0, 0, 0.5))
                  +hover-underline
    
    > .right
      :left 100%
      :margin
        :left -100px
      +rotate-y(-90)
      +transform-origin(right center)
  
  > nav
    :position absolute
    :left 0
    :top 100%
    :margin
      :top -100px
    :height 100px
    :width 100%
    :line-height 100px
    :text
      :align center
    +children-inline
    
    &:before
      :content ''
      :position absolute
      :width 100%
      :height 50%
      :left 0
      :top 50%
      :background url('../images/backgrounds/main.jpg') center top
      +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
      +translate-z(-100px)
    
    > a
      :position relative
      :width 33.33%
      :height 100px
      :font
        :size 50px
      :vertical-align bottom
      +hover-opacity
      
      > span
        :overflow hidden
        +inline-block(bottom)
        :width 100%
        :height 100px
        :line-height 150px
        :position relative
        :z-index 10
        +transition
        :transform translateZ(-40px)
        :-moz-transform translateZ(-40px)
        :-o-transform translateZ(-40px)
        :-ms-transform translateZ(-40px)
        :-webkit-transform translateZ(-40px)
      
      > .step
        :position absolute
        :z-index 1
        :left 0
        :width 100%
        :height 0
        :top 100%
        +transition
        
        > div
          :position absolute
          :width 100%
          :height 100px
          :left 0
          :top 0
          +transition
        
        > .top
          :background url('../images/backgrounds/main.jpg') center top
          +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
          +rotate-x(-90)
          +transform-origin(center top)
        
        > .front
          :height 0
          :background url('../images/backgrounds/main.jpg') center top
          +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
        
        > .left
          :overflow hidden
          :width 100px
          :height 0
          :transform rotateY(90deg)
          +rotate-y(90)
          +transform-origin(left center)
          
          &:before
            :content ''
            :position absolute
            :width 100px
            :height 100px
            :top 0
            :left 0
            :background url('../images/backgrounds/main.jpg') center top
            +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
            +rotate(90)
        
        > .right
          :overflow hidden
          :left 100%
          :margin
            :left -100px
          :width 100px
          :height 0
          +rotate-y(-90)
          +transform-origin(right center)
          
          &:before
            :content ''
            :position absolute
            :width 100px
            :height 100px
            :top 0
            :left 0
            :background url('../images/backgrounds/main.jpg') center top
            +box-shadow(inset 0 0 50px rgba(0, 0, 0, 0.75))
            +rotate(90)
      
      &:hover
        > span
          :transform translateZ(-40px) translateY(-5px)
          :-moz-transform translateZ(-40px) translateY(-5px)
          :-o-transform translateZ(-40px) translateY(-5px)
          :-ms-transform translateZ(-40px) translateY(-5px)
          :-webkit-transform translateZ(-40px) translateY(-5px)
  
        > .step
          :margin
            :top -5px
          :height 5px
          
          > .front, > .left, > .right
            :height 5px
      
      &.active
        +opacity(1)
      
        > span
          :transform translateZ(-40px) translateY(-10px)
          :-moz-transform translateZ(-40px) translateY(-10px)
          :-o-transform translateZ(-40px) translateY(-10px)
          :-ms-transform translateZ(-40px) translateY(-10px)
          :-webkit-transform translateZ(-40px) translateY(-10px)
        
        > .step
          :margin
            :top -10px
          :height 10px
          
          > .front, > .left, > .right
            :height 10px