!!! 5
%html{ng: {app: "Edwin"}}
  %head
    %title Edwin
    %meta{http: {equiv: 'Content-Type'}, content: 'text/html;charset=utf-8'}
    %meta{name: 'description', content: 'Edwin'}
    %meta{name: 'keywords', content: 'Edwin'}
    %link{rel: 'shortcut icon', href: '/favicon.ico', type: 'image/x-icon'}
    %link{rel: "stylesheet", type: "text/css", href: "public/stylesheets/application.css"}
    %script{type: "text/javascript", src: "vendor/components/angular/angular.min.js"}
    %script{type: "text/javascript", src: "vendor/components/angular-scroll/angular-scroll.min.js"}
    %script{type: "text/javascript", src: "public/javascripts/application.js"}
    /[if IE]
      %link{rel: "stylesheet", type: "text/css", href: "public/stylesheets/ie.css"}
    
  %body{ng: {controller: "WelcomeCtrl"}}<>
    #container{du: {scroll: {container: "scroll-container"}}}<>
      .content
        .top
        
        .left
        
        .middle
          %h1<> Edwin Ulin
          
          .content#scroll-container<
            #gallery>
              .text<
                %a.left{href: true, ng: {click: "setCurrent('prev')"}}>
                .img{ng: {repeat: "image in images", class: "isCurrent(image) ? 'active' : ''"}, style: "background-image: url({{image}})"}>
                %a.right{href: true, ng: {click: "setCurrent('next')"}}>
            
            #about>
              .text
                %p My name is Mr. Edwin Ibrahim. Our company focuses on design and supervising consultant. As a design company we use ecology concept that combine with modern material.
            
                %p The shape and function of building is according to the owner (according the global concept that owner give) blended with architect creativity and appropriate with land and building regulation. As a supervisor consultant we act as e mediator between owner and contractor.
            
                %p We have system when we do our project. We use more than one contractor and divide the contractor according to their skills depend on the job description on the project like sctucture construction, glass work, electrical work, terrazzo work, garden work, etc.. that manage by the architect and observe by owner.
            
                %p Why this system is better than other, because if there is a problem with one contractor the other still can work and it possible for us to get our project on time. For the payment process will handle by the notaries after the owner give money to the notaries and then the notaries give the money to each contractor according to the conract and progress of the project after agreed by the architect (supervisor).
            
                %p.center That all about us. Thank you.
          
            #contact>
              .text
                %iframe{width: '100%', height: '100%', frameborder: 0, style: 'border:0', src: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d887.3025616946098!2d106.78512399999998!3d-6.780900999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNsKwNDYnNTEuMiJTIDEwNsKwNDcnMDYuNSJF!5e1!3m2!1sru!2sid!4v1414939509967'}
                
                %footer<
                  %p>
                    %span Email:
                    %a{href: 'mailto:edwin_pasti@yahoo.com'} edwin_pasti@yahoo.com
                  
                  %p>
                    %span Company website:
                    %a{href: 'http://dapur-ulin.com', target: '_blank'} dapur-ulin.com
                  
                  %p> Phone: +6281239327099
        
        .right
      
      %nav<>
        %a{href: '#gallery', du: {scrollspy: 'gallery'}}>
          %span Gallery
          
          .step
            .top
            .front
            .right
        
        %a{href: '#about', du: {scrollspy: 'about'}}>
          %span About
          
          .step
            .top
            .front
        
        %a{href: '#contact', du: {scrollspy: 'contact'}}>
          %span Contact
          
          .step
            .top
            .left
            .front